#Overlay{
    position: absolute;
    width:100%;
    z-index: 3;
    background: rgba(0, 0, 0, .65);
    display: flex;
    top:0;
}

#create{
    width: 608px;
    min-height: 138px;
    margin: auto;
}

#openedImage{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
    margin: 100px auto;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 896px){
    .RegLogFor{
        overflow-y: scroll;
    }
    #EngageHolder{
        display: none !important
    }
    #goBack{
        left:0 !important
    }
} 
@media screen and (max-height: 777px){
    #EngageHolder{
        display: none !important
    }
    #goBack{
        left:0 !important
    }
}
@media screen and (max-width: 400px) {
    .submit,
    .form,
    .longInput{
        max-width: 264px;
    }
    .shortInput{
        max-width: 122px;
    }
    .formInput{
        margin-top: 6px !important
    }
}

@media screen and (max-width: 375px) {
    .idk__orShit{
        margin-top: 32px!important;
        margin-bottom: 22px!important;
    }
    #goBack{
        color:transparent
    }
}
@media screen and (max-height: 812px) {
    .idk__orShit{
        margin-top: 32px;
        margin-bottom: 22px;
    }
}
@media screen and (max-height: 640px){
    .form{
        margin-top: 75px !important
    }
}

@media screen and (max-width: 1100px){
    #feed{
        max-width: 500px;
    }
    #main{
        margin-left: calc(50% - 458px);
    }
    header > ul{
        width: 924px;
        margin-left: calc(50% - 458px);
    }
    .postContent{
        max-width: 390px;
    }
    .settingsForm.formInput{
        max-width: 468px;
    }
    #subSetBut{
        margin-left: 414px;
    }
}
@media screen and (max-width: 960px){
    #main{
        margin-left: calc(50% - 354px);
    }
    header > ul{
        width: 708px;
        margin-left: calc(50% - 354px);
    }
    #signup{
        right: 0px;
    }
    #rightSideBar{
        display: none;
    }
}
@media screen and (max-width: 820px){
    #feed{
        max-width: 608px;
    }
    .postContent{
        max-width: 488px;
    }
    #main{
        margin-left: calc(50% - 304px);
    }
    header > ul{
        width: 608px;
        margin-left: calc(50% - 304px);
    }
    #leftSideBar{
        display: none;
    }
    #searchInput{
        width: 140px;
    }
    .settingsForm.formInput{
        max-width: 576px;
    }
    #subSetBut{
        margin-left: 522px;
    }
}
@media screen and (max-width: 608px){
    .postContent{
        max-width: calc(100% - 120px);
    }
    #feed{
        max-width: 100%;
    }
    #main{
        margin-left: 0;
        margin-top: 0;
    }
    header > ul{
        width: 100%
    }
    .post{
        margin-bottom: 0;
        border-radius: 0;
        border-bottom: 1px solid #EDE9F9;
    }
    #post-create-form{
        margin-bottom: 16px;
    }
    #myProfile{
        right: 4px;
    }
    .comment_btn, .other > button{
        font-size: 86% !important;;
        padding-left: 30px !important;;
    }
    main{
        font-size: 120% !important;
        margin-top: 72px;
    }
    .comment_btn:before, .other > button:before{
        width: 24px !important;
        height: 24px !important;
    }
    .newPostInput, #newPostInput{
        font-size: 92.5%;
    }
    #Logo > img{
        margin-top: 11px !important;
        width: 125% !important;
    }
    header{
        min-height: 50px;
    }
    header > ul > li{
        margin-top : 8px
    }
    #search{
        margin-left: 40px;
        font-size: 16px;
    }
    a:hover, a:active{
        background-color: transparent;
    }
}
@media screen and (max-width: 450px){
    main{
        font-size: 150% !important;
    }
    .newPostInput, #newPostInput{
        font-size: 105%;
    }
}