#Overlay{
    position: absolute;
    width:100%;
    z-index: 3;
    background: rgba(0, 0, 0, .65);
    display: flex;
    top:0;
}

#openedImage{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
    margin: 100px auto;
    background-repeat: no-repeat;
    cursor: pointer;
}